.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-adicionar {
    color: black;
    background-color: white;
    height: 80;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 30px;
    border-radius: 16px;
}

.topo-modal {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topo-modal button {
    padding: 0;
    font-size: 25px;
}

.topo-modal h3 {
    font-size: 22px;
    font-weight: bold;

}

.form-adicionar {
    display: flex;
    flex-direction: column;

}

.form-adicionar label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #9999B0;
}

.form-adicionar input {
    font-family: 'outfit';
    font-size: 15px;
    border: 0.05rem solid  #9999b05f ;
    border-radius: 16px;
    width: 30vw;
    margin-bottom: 40px;
    height: 6vh;
}


.form-adicionar input[type="text"] {
    padding: 0 10px;
}


.btn-modal {
    display: flex;
    flex-direction: row;
}

.btn-modal>input, .btn-modal button {
    font-family: 'outfit';
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    width: 50%;
    padding: 15x 20px;
}

.btn-modal input {
    background-color: #1741C4;
    color: white;
    border-radius: 16px;
}

.btn-modal button {
    color:#777777 ;
}

.form-adicionar input::placeholder {
    font-size: 16px;
    font-family: 'outfit';
    color: #C0C0D0;
    padding: 0 5px;
}