body {
    background-color: #1741C4;
    font-family: 'outfit';
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 10vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 30% 0% 30%;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

#quantidade-itens {
    background-color: #FFFFFF26;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 20px;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    gap: 40px;
}

.conteudo-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lista h2 {
    font-size: 32px;
    font-weight: bold;
}

.lista h3 {
    font-size: 13.6px;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#btn-adicionar {
    background-color: #FFD426;
    padding: 8px 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 16px;
    color: #1741C4;
}

#btn-editar {
    background-color: #64AD36;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 16px;
}
